:root {
    --blue-1: hsl(178, 60%, 48%);
    --blue-2: hsl(178, 75%, 65%);
    --orange-1: hsl(39, 88%, 58%);
    --orange-2: hsl(39, 100%, 69%);
    --dark-1: hsl(202, 32%, 15%);
    --dark-2: hsl(202, 35%, 19%);
    --light-1: hsl(198, 23%, 72%);
    --light-2: hsl(198, 33%, 89%);
}